<div class="flex items-stretch z-[1] fixed top-[366px] right-0">
  <div
    type="button"
    class="w-[40px] h-[388px] cursor-pointer bg-[#605EB3] flex justify-center items-center"
  >
    <span
      class="-rotate-90 text-nowrap text-xl leading-[23.44px] font-normal text-white"
      >Рассчитать стоимость</span
    >
  </div>

  <div
    id="quizTarget"
    class="bg-white flex-shrink-0 w-[600px] overflow-hidden h-[380px]"
  >
    <div class="swiper-wrapper w-full">
      <load src="src/components/General/Calculator/Slide1.html" />
      <load src="src/components/General/Calculator/Slide2.html" />
    </div>
  </div>
</div>
