<div class="space-y-5">
  <div
    class="xl:h-[142px] h-[60px] w-full bg-[#E1E1F2] flex justify-center items-center"
  >
    <div class="flex xl:items-center gap-[98px] xl:overflow-visible overflow-hidden">
      <div
        class="flex xl:gap-20 gap-5 *:text-nowrap custom:w-[1272px] xl:w-[800px] w-full overflow-hidden"
      >
        <h4 class="marquee">Заказать сайт</h4>
        <h4 class="marquee">Заказать сайт</h4>
        <h4 class="marquee">Заказать сайт</h4>
        <h4 class="marquee">Заказать сайт</h4>
      </div>

      <button class="xl:block hidden hover:bg-[#4042E2] hover:text-white">Заказать</button>
    </div>
  </div>

  <div class="px-2.5 xl:hidden block">
    <button class="flex-shrink-0 hover:bg-[#4042E2] hover:text-white">Заказать</button>
  </div>
</div>
