<div class="xl:space-y-[60px] space-y-10 container-main mx-auto">
  <h6>Наша команда</h6>

  <div class="flex xl:gap-5 gap-10 xl:flex-row flex-col">
    <load
      src="src/components/About/Team/Card.html"
      img="aboutTeam1.webp"
      title="Web-разработка"
      desc="Компания ArtCly – это команда профессионалов, в которой каждый специалист является настоящим профи."
      class="active"
    />
    <load
      src="src/components/About/Team/Card.html"
      img="aboutTeam2.webp"
      title="Web-разработка"
      desc="Компания ArtCly – это команда профессионалов, в которой каждый специалист является настоящим профи."
      class=""
    />
    <load
      src="src/components/About/Team/Card.html"
      img="aboutTeam3.webp"
      title="Web-разработка"
      desc="Компания ArtCly – это команда профессионалов, в которой каждый специалист является настоящим профи."
      class=""
    />
  </div>
</div>
