<div class="grid xl:grid-cols-2 grid-cols-1 xl:gap-x-5 xl:gap-y-[100px]">
  <load src="src/components/Service/Card.html" img="slideWork1.webp" />
  <load src="src/components/Service/Card.html" img="slideWork2.webp" />

  <load src="src/components/Service/Card.html" img="slideWork1.webp" />
  <load src="src/components/Service/Card.html" img="slideWork2.webp" />

  <load src="src/components/Service/Card.html" img="slideWork1.webp" />
  <load src="src/components/Service/Card.html" img="slideWork2.webp" />

  <load src="src/components/Service/Card.html" img="slideWork1.webp" />
  <load src="src/components/Service/Card.html" img="slideWork2.webp" />
</div>
