<nav class="xl:flex hidden flex-wrap gap-5">
  <load src="src/components/Service/Button.html" title="Все" class="current" />
  <load
    src="src/components/Service/Button.html"
    title="Landing page"
    class=""
  />
  <load
    src="src/components/Service/Button.html"
    title="Многостраничный сайт"
    class=""
  />
  <load
    src="src/components/Service/Button.html"
    title="Интернет-магазин"
    class=""
  />
  <load src="src/components/Service/Button.html" title="Продвижение" class="" />
</nav>
