<div>
  <load
    src="src/components/Reviews/Card.html"
    title="ОАО 'Могилевское агентство регионального развития'"
    desc="ОАО 'Могилевское агентство регионального развития' выражает благодарность за создание сайта для нашей организации в декабре 2022 года. Сайт был создан с учетом всех наших пожеланий качественно и в срок. Сразу были оговорены все этапы работы, стоимость, технические моменты и сколько времени займет создание. Благодаря их советам из собственной практики, как реализовать те или другие моменты, дало дополнительные плюсы к конечному продукту."
    tags="Дизайн / Разработка многостраничного сайта"
    img="review1.jpg"
  />

  <load
    src="src/components/Reviews/Card.html"
    title="ООО 'Спецштурм'"
    desc="Спасибо компании ООО 'Арт Клай' за создание интернет-магазина spetsshturm.by Всем довольны. Продажи увеличились в разы. Сейчас клиенты покупают у нас со всей Беларуси. Рекомендуем эту компанию всем!"
    tags="Дизайн / Разработка интернет-магазина"
    img="review1.jpg"
  />

  <load
    src="src/components/Reviews/Card.html"
    title="ООО 'Юнайтед пипл'"
    desc="Всем доволен! Были сразу выявлены недоработки текущей рекламы в Гугл и предложено заново настроить. После настройки дали подробную консультацию по смене стратегии, ставок и методичку по работе с рекламным кабинетом.Теперь реклама работает лучше. Рекомендую к сотрудничеству!"
    tags="Настройка рекламы Google"
    img="review1.jpg"
  />
</div>
