<div
  id="reviewModal"
  class="fixed h-screen w-full opacity-0 overflow-hidden translate-x-full transition-all duration-1000 bg-[#605EB333] backdrop-blur-sm flex justify-center items-center xl:px-0 px-2.5"
>
  <svg
    class="cursor-pointer xl:w-[31px] xl:h-[30px] w-5 h-5 closeModal absolute xl:top-10 top-4 xl:right-10 right-4"
    role="button"
    viewBox="0 0 31 30"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_2896_9932)">
      <path d="M1 1L29 29M1 29L29 1" stroke="#333333" stroke-width="2" />
    </g>
    <defs>
      <clipPath id="clip0_2896_9932">
        <rect width="30" height="30" fill="white" />
      </clipPath>
    </defs>
  </svg>

  <img class="xl:h-[823px] imageFullReview" src="" alt="" />
</div>
