<div class="xl:space-y-[60px] space-y-10">
  <h6 class="text-[#545454]">Этапы настройки контекстной рекламы</h6>

  <div>
    <load
      src="src/components/SingleAdventage/Stage/Card.html"
      number="01"
      title="Брифинг"
      desc="Проводим первичный брифинг заказчика, определяем цели и задачи. Формируем видение процесса и обсуждаем его со всеми участниками — так синхронизируемся с клиентом и минимизируем риски."
    />
    <load
      src="src/components/SingleAdventage/Stage/Card.html"
      number="02"
      title="Исследования"
      desc="Чтобы будущий продукт выделялся среди конкурентов и подчеркивал преимущества заказчика, проводим аналитику рынка и конкурентов.
    Составляем портреты целевой аудитории, исследуем её потребности и боли, по возможности проводим глубинные интервью с пользователями. Это важно, чтобы будущий продукт был понятным и удобным для конечных пользователей и мотивировал совершать конверсию."
    />
    <load
      src="src/components/SingleAdventage/Stage/Card.html"
      number="03"
      title="Прототипирование"
      desc="Проектируем структуру сайта или сервиса, прорабатываем прототипы: расставляем акценты, учитывая цели и особенности клиента. Следим, чтобы навигация была интуитивно понятной пользователям.
    Формируем структуру так, чтобы после запуска сайт привлекал максимальный поисковый трафик."
    />
    <load
      src="src/components/SingleAdventage/Stage/Card.html"
      number="04"
      title="Дизайн"
      desc="Если есть брендбук, то берем цветовые решения и шрифты оттуда и придерживаемся фирменного стиля. Если брендбука нет — выслушиваем пожелания и исходя из тематики и задач предлагаем решение. Сначала разрабатываем дизайн-концепцию сайта. Потом внутренние страницы."
    />
  </div>
</div>
