<div class="flex flex-col items-center xl:gap-[100px] gap-10">
  <div
    class="flex xl:flex-row flex-col xl:justify-between w-full xl:gap-[460px] gap-[30px]"
  >
    <h6>Направления</h6>

    <div class="relative">
      <ul class="direction-list space-y-5 xl:w-auto w-[221px]">
        <li class="flex xl:gap-4 gap-3">
          <span>01</span>

          <h3 class="inline xl:text-nowrap">разработка сайтов</h3>
        </li>

        <li class="flex xl:gap-4 gap-3">
          <span>02</span>

          <h3 class="inline">Доработка и ведение сайтов</h3>
        </li>

        <li class="flex xl:gap-4 gap-3">
          <span>03</span>

          <h3 class="inline xl:text-nowrap">Реклама</h3>
        </li>

        <li class="flex xl:gap-4 gap-3">
          <span>04</span>

          <h3 class="inline xl:text-nowrap">Маркетинг</h3>
        </li>

        <li class="flex xl:gap-4 gap-3">
          <span>05</span>

          <h3 class="inline">Отраслевые решения</h3>
        </li>
      </ul>

      <svg
        class="absolute right-0 top-1/3"
        width="27"
        height="102"
        viewBox="0 0 27 102"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 78.2769L26.2592 100.317"
          stroke="#5957BB"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M1 67.2114L26.2592 89.2516"
          stroke="#5957BB"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M1 56.1458L26.2592 78.2767"
          stroke="#5957BB"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M1 45.0803L26.2592 67.2112"
          stroke="#5957BB"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M1 34.1057L26.2592 56.1459"
          stroke="#5957BB"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M1 23.0403L26.2592 45.0805"
          stroke="#5957BB"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M1 11.9749L26.2592 34.1058"
          stroke="#5957BB"
          stroke-width="2"
          stroke-miterlimit="10"
        />
        <path
          d="M1 1L26.2592 23.0402"
          stroke="#5957BB"
          stroke-width="2"
          stroke-miterlimit="10"
        />
      </svg>
    </div>
  </div>

  <button
    role="button"
    class="py-[15px] text-[#605EB3] flex gap-[30px] xl:justify-start justify-center items-center text-nowrap border-none"
  >
    <span>Узнать подробнее</span>

    <svg
      class="flex-shrink-0"
      class="max-w-[61px]"
      width="61"
      height="8"
      viewBox="0 0 61 8"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M60.3536 4.35355C60.5488 4.15829 60.5488 3.84171 60.3536 3.64645L57.1716 0.464466C56.9763 0.269204 56.6597 0.269204 56.4645 0.464466C56.2692 0.659729 56.2692 0.976311 56.4645 1.17157L59.2929 4L56.4645 6.82843C56.2692 7.02369 56.2692 7.34027 56.4645 7.53553C56.6597 7.7308 56.9763 7.7308 57.1716 7.53553L60.3536 4.35355ZM60 3.5L-3.85841e-06 3.50001L-3.77099e-06 4.50001L60 4.5L60 3.5Z"
        fill="#605EB3"
      />
    </svg>
  </button>
</div>
