<div class="space-y-[60px]">
  <div class="flex gap-5">
    <div class="bg-[#ABAAD8] w-[115px] h-[1px] flex-shrink-0 mt-[29px]">
      &nbsp;
    </div>

    <h2>Создание и продвижение<br/> продающих сайтов любой сложности</h2>
  </div>

  <p class="max-w-[925px]">
    ООО "Арт Клай" - компания, специализирующаяся на маркетинговых услугах для
    компаний. Мы помогаем нашим клиентам создавать и реализовывать эффективные
    маркетинговые стратегии, которые помогают им выделяться на рынке и
    привлекать новых клиентов.
  </p>
</div>
