<div class="flex xl:flex-row flex-col xl:justify-between xl:gap-0 gap-5">
  <h6>Адаптив</h6>

  <div class="xl:grid flex grid-cols-4 xl:gap-5 gap-[7px] overflow-x-auto">
    <load
      src="src/components/ServiceSingle/Card.html"
      img="singleServiceMobile1.png"
    />

    <load
      src="src/components/ServiceSingle/Card.html"
      img="singleServiceMobile2.png"
    />

    <load
      src="src/components/ServiceSingle/Card.html"
      img="singleServiceMobile3.png"
    />

    <load
      src="src/components/ServiceSingle/Card.html"
      img="singleServiceMobile4.png"
    />
  </div>
</div>
