<div class="xl:space-y-[60px] space-y-5">
  <h1 class="xl:leading-[70.31px] leading-[30.47px] xl:text-[60px] text-[26px] font-normal text-[#333333] uppercase">
    ЧТСУП “Энималс”
  </h1>

  <div class="xl:space-y-[100px] space-y-10 xl:ml-[135px]">
    <p class="xl:max-w-[925px]">
      Описание проекта. Компания ArtCly – это команда профессионалов, в которой
      каждый специалист является настоящим профи. С нашей помощью вы можете
      воплотить в жизнь любую фантазию и создать качественный и уникальный
      интернет-ресурс. Причем мы занимаемся не только созданием различных
      сервисов, но и можем придумать для вас уникальный личный бренд.
    </p>

    <div class="xl:space-y-20 space-y-10">
      <div class="grid xl:grid-cols-2 grid-cols-1 xl:gap-0 gap-5">
        <h6>Цель</h6>

        <p>Увеличить число заявок</p>
      </div>

      <div class="grid xl:grid-cols-2 grid-cols-1 xl:gap-0 gap-5">
        <h6>Задачи</h6>

        <p>
          Отразить преимущества компании ЧТСУП “Энималс”<br /><br />
          Сделать навигацию по сайту легкой и доступной<br /><br /> 
          Упростить процесс получения обратной связи от клиентов
        </p>
      </div>
    </div>
  </div>
</div>
