<form>
  <div class="max-w-[734px] space-y-[60px]">
    <div class="gap-[18px] flex">
      <label
        class="w-[117px] font-light text-[30px] leading-[35.16px] text-[#333333] relative top-1"
        for="name"
        >имя</label
      >

      <input min="3" name="name" id="name" type="text" />
    </div>

    <div class="gap-[18px] flex">
      <label
        class="w-[117px] font-light text-[30px] leading-[35.16px] text-[#333333] relative top-1"
        for="tel"
        >телефон</label
      >

      <input class="phone-input" min="14" name="tel" id="tel" type="tel" />
    </div>
  </div>

  <p class="text-[#545454] font-light text-[20px] leading-[23.44px] mt-10">
    Нажимая «Отправить», Вы соглашаетесь с
    <a class="underline" href="">Политикой обработки персональных данных</a>
  </p>

  <button class="mt-[51px]" type="submit">Отправить</button>
</form>
