<form>
  <div class="max-w-[734px] xl:space-y-[60px] space-y-5">
    <div class="xl:gap-[18px] gap-2 flex">
      <label
        class="xl:w-[117px] w-[78px] font-light xl:text-[30px] text-xl xl:leading-[35.16px] leading-[23.44px] text-[#333333] relative top-1"
        for="name"
        >имя</label
      >

      <input min="3" name="name" id="name" type="text" />
    </div>

    <div class="xl:gap-[18px] gap-2 flex">
      <label
        class="xl:w-[117px] w-[78px] font-light xl:text-[30px] text-xl xl:leading-[35.16px] leading-[23.44px] text-[#333333] relative top-1"
        for="tel"
        >телефон</label
      >

      <input class="phone-input" min="14" name="tel" id="tel" type="tel" />
    </div>
  </div>

  <p class="text-[#545454] font-light xl:text-[20px] text-sm xl:leading-[23.44px] leading-[16.41px] xl:mt-10 mt-[30px]">
    Нажимая «Отправить», Вы соглашаетесь с
    <a class="underline" href="">Политикой обработки персональных данных</a>
  </p>

  <button class="xl:mt-[51px] mt-10" type="submit">Отправить</button>
</form>
