<section class="container-main mx-auto">
  <div class="xl:space-y-[60px] space-y-10">
    <h6>Наши работы</h6>

    <div class="overflow-hidden relative" id="slider-work">
      <div class="swiper-wrapper">
        <load src="src/components/Home/Work/Slide.html" img="slideWork1.webp"/>
        <load src="src/components/Home/Work/Slide.html" img="slideWork2.webp"/>
        <load src="src/components/Home/Work/Slide.html" img="slideWork1.webp"/>
        <load src="src/components/Home/Work/Slide.html" img="slideWork2.webp"/>
        <load src="src/components/Home/Work/Slide.html" img="slideWork1.webp"/>
      </div>

      <div
        class="xl:flex hidden items-center gap-[26px] absolute right-[50%] translate-x-full bottom-0 z-[1]"
      >
        <button class="swiper-button-prev border-none !min-w-1 items-end">
          <svg
            class="cursor-pointer"
            role="button"
            width="70"
            height="8"
            viewBox="0 0 70 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.64644 3.64645C9.45118 3.84171 9.45118 4.1583 9.64644 4.35356L12.8284 7.53554C13.0237 7.7308 13.3403 7.7308 13.5355 7.53554C13.7308 7.34028 13.7308 7.02369 13.5355 6.82843L10.7071 4.00001L13.5355 1.17158C13.7308 0.976316 13.7308 0.659733 13.5355 0.464471C13.3403 0.269209 13.0237 0.269209 12.8284 0.464471L9.64644 3.64645ZM70 3.5L10 3.50001L10 4.50001L70 4.5L70 3.5Z"
              fill="#605EB3"
            />
          </svg>
        </button>

        <button class="!min-w-1 border-none swiper-button-next items-end">
          <svg
            width="61"
            height="8"
            viewBox="0 0 61 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M60.3536 4.35355C60.5488 4.15829 60.5488 3.84171 60.3536 3.64645L57.1716 0.464466C56.9763 0.269204 56.6597 0.269204 56.4645 0.464466C56.2692 0.659729 56.2692 0.976311 56.4645 1.17157L59.2929 4L56.4645 6.82843C56.2692 7.02369 56.2692 7.34027 56.4645 7.53553C56.6597 7.7308 56.9763 7.7308 57.1716 7.53553L60.3536 4.35355ZM60 3.5L-3.85841e-06 3.50001L-3.77099e-06 4.50001L60 4.5L60 3.5Z"
              fill="#605EB3"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <a href="" class="xl:mt-[100px] mt-10 mx-auto xl:w-fit w-full block">
    <button class="hover:bg-[#4042E2] hover:text-white">Все кейсы</button>
  </a>
</section>
