<a
  href=""
  class="xl:!h-[519px] !h-[400px] xl:gap-0 gap-[30px] swiper-slide xl:block flex xl:flex-row flex-col-reverse"
>
  <div
    class="xl:!h-[519px] w-full !h-[300px] xl:flex contents group justify-end items-end relative"
  >
    <div
      class="bg-[#605EB333] transition-all duration-1000 group-hover:opacity-100 opacity-0 backdrop-blur-sm container-back-drop xl:flex hidden justify-center items-center w-full h-full absolute"
    >
      <p class="text-[#4042E2] leading-[35.16px] font-light text-[30px]">
        Посмотреть проект
      </p>
    </div>

    <img
      class="h-full w-full xl:object-cover object-contain"
      src="{=$img}"
      alt=""
    />
  </div>

  <div
    class="xl:space-y-[30px] space-y-5 xl:absolute top-0 right-0 xl:translate-x-[calc(100%+20px)]"
  >
    <div class="space-y-2.5">
      <h4>ООО “Эллиот бэрри”</h4>

      <p class="text-[22px] leading-[25.78px] font-light text-[#ABAAD8]">
        Веб-Разработка / Дизайн / Продвижение
      </p>
    </div>

    <h6>Лендинг для фермерского хозяйства</h6>
  </div>
</a>
