<div class="flex xl:flex-row flex-col xl:gap-[133px] gap-[30.45px]">
  <h6>
    Получить наше<br />
    коммерческое предложение
  </h6>

  <div class="xl:w-[790px] w-full grid xl:grid-cols-2 grid-cols-1 xl:gap-x-5 xl:gap-y-[30px] gap-2.5">
    <a href="" class="xl:col-span-2">
      <button class="w-full hover:bg-[#4042E2] hover:text-white">Все КП одним архивом</button>
    </a>
    <a href=""><button class="w-full hover:bg-[#4042E2] hover:text-white">КП Одностраничный сайт</button></a>
    <a href=""><button class="w-full hover:bg-[#4042E2] hover:text-white">КП Контекстная реклама</button></a>
    <a href=""><button class="w-full hover:bg-[#4042E2] hover:text-white">КП Landing Page</button></a>
    <a href=""><button class="w-full hover:bg-[#4042E2] hover:text-white">КП Таргетированная реклама</button></a>
    <a href=""><button class="w-full hover:bg-[#4042E2] hover:text-white">КП Многостраничный сайт</button></a>
    <a href=""><button class="w-full hover:bg-[#4042E2] hover:text-white">КП SEO-оптимизация</button></a>
    <a href=""><button class="w-full hover:bg-[#4042E2] hover:text-white">КП Интернет-магазин</button></a>
  </div>
</div>
