<div class="space-y-[60px]">
  <div class="flex gap-5 ml-[135px]">
    <p>
      Наша команда состоит из опытных маркетологов, аналитиков и дизайнеров,
      которые работают вместе, чтобы создавать уникальные и креативные решения
      для любого клиента. Предлагаем услуги, включая разработку брендинга,
      цифровой маркетинг, контент-маркетинг, PR и другие. Понимаем, что каждая
      компания уникальна и имеет особенности, поэтому всегда нацелены на
      качественный индивидуальный подход ко всем проектам. Мы тесно сотрудничаем
      с клиентами, разбираясь в их бизнес-целях и потребностях. Разрабатываем
      стратегию, которая помогает достигать намеченных целей. Наша цель - помочь
      нашим клиентам стать лидерами в своей отрасли и добиться максимального
      успеха. Если Вам нужен надежный партнер в области маркетинга, обратитесь к
      нам - мы готовы помочь достичь ваших целей и превзойти ожидания!
    </p>

    <img src="aboutImg1.webp" alt="">
  </div>

  <div></div>
</div>
