<div class="border border-[#5957BB]">
  <div
    class="bg-[#E1E1F2] py-5 xl:px-3.5 px-2.5 flex justify-center items-center flex-col xl:gap-4 gap-2.5"
  >
    <h6 class="uppercase text-[#333333]">Базовый</h6>

    <p
      class="xl:leading-[23.44px] leading-[18.75px] xl:text-[20px] text-base text-center"
    >
      Для эффективной работы небольших компаний и отделов продаж
    </p>
  </div>

  <div
    class="flex flex-col justify-center items-center bg-white xl:py-[33px] py-5 xl:gap-[7px]"
  >
    <span
      class="xl:text-[36px] text-[30px] xl:leading-[42.19px] leading-[35.16px] font-normal text-center text-[#5957BB]"
      >5</span
    >
    <span class="text-center">пользователей</span>

    <p
      class="xl:text-[36px] text-[30px] xl:leading-[42.19px] leading-[35.16px] font-normal text-center text-[#5957BB]"
    >
      55
      <span
        class="xl:text-[22px] text-lg font-normal xl:leading-[25.78px] leading-[21.09px]"
        >BYN/мес</span
      >
    </p>
  </div>

  <div class="xl:py-2 py-1.5 bg-[#E1E1F2] flex justify-center items-center">
    <h6>24 ГБ</h6>
  </div>

  <div class="xl:pb-[30px] pb-[10px] xl:px-0 px-2.5 pt-[40px] flex justify-center items-center">
    <button class="hover:bg-[#4042E2] hover:text-white">Купить</button>
  </div>
</div>
