<section class="flex flex-col xl:gap-[60px] gap-[30px] container-main mx-auto">
  <h2>
    Почему клиенты выбирают<br />
    именно нашу Компанию?
  </h2>

  <ul class="grid xl:grid-cols-2 grid-cols-1 xl:gap-y-10 xl:gap-x-[190px] gap-5 xl:self-end list-edge">
    <li class="xl:gap-4 gap-3 flex">
      <span>01</span>

      <p class="xl:w-[300px] w-full">Сделка по официальным договорам</p>
    </li>

    <li class="xl:gap-4 gap-3 flex">
      <span>02</span>

      <p class="xl:w-[300px] w-full">Поэтапная оплата сделки</p>
    </li>

    <li class="xl:gap-4 gap-3 flex">
      <span>03</span>

      <p class="xl:w-[300px] w-full">Гарантия качества выполненных работ</p>
    </li>

    <li class="xl:gap-4 gap-3 flex">
      <span>04</span>

      <p class="xl:w-[300px] w-full">Нацеленность только на Ваш результат</p>
    </li>

    <li class="xl:gap-4 gap-3 flex">
      <span>05</span>

      <p class="xl:w-[300px] w-full">Соблюдение сроков исполнения сделки</p>
    </li>

    <li class="xl:gap-4 gap-3 flex">
      <span>06</span>

      <p class="xl:w-[300px] w-full">Бесплатное сопровождение после сделки</p>
    </li>
  </ul>
</section>
