<section class="flex flex-col gap-[60px] container-main mx-auto">
  <h2>
    Почему клиенты выбирают<br />
    именно нашу Компанию?
  </h2>

  <ul class="grid grid-cols-2 gap-y-10 gap-x-[190px] self-end list-edge">
    <li class="gap-4 flex">
      <span>01</span>

      <p class="w-[300px]">Сделка по официальным договорам</p>
    </li>

    <li class="gap-4 flex">
      <span>02</span>

      <p class="w-[300px]">Сделка по официальным договорам</p>
    </li>

    <li class="gap-4 flex">
      <span>03</span>

      <p class="w-[300px]">Сделка по официальным договорам</p>
    </li>

    <li class="gap-4 flex">
      <span>04</span>

      <p class="w-[300px]">Сделка по официальным договорам</p>
    </li>

    <li class="gap-4 flex">
      <span>05</span>

      <p class="w-[300px]">Сделка по официальным договорам</p>
    </li>

    <li class="gap-4 flex">
      <span>06</span>

      <p class="w-[300px]">Сделка по официальным договорам</p>
    </li>
  </ul>
</section>
