<div
  class="flex xl:flex-row xl:ml-0 ml-[23px] flex-col-reverse xl:gap-7 gap-[15px] xl:even:mt-[23px] {=$class}"
>
  <div class="xl:space-y-[15px] space-y-2.5 xl:flex-shrink-0">
    <div class="flex gap-2.5 items-center">
      <span
        class="text-[#5957BB] xl:inline hidden text-[30px] font-black leading-[35.16px]"
        >+</span
      >

      <p class="xl:w-[413px]">{=$text1}</p>
    </div>

    <div class="flex gap-2.5 items-center">
      <span
        class="text-[#5957BB] xl:inline hidden text-[30px] font-black leading-[35.16px]"
        >+</span
      >

      <p>{=$text2}</p>
    </div>
  </div>

  <span
    class="xl:text-[80px] text-[30px] xl:leading-[93.75px] leading-[35.16px] font-medium text-[#333333]"
    >{=$year}</span
  >
</div>
