<div class="relative">
  <div class="container-main mx-auto flex flex-col xl:gap-[60px] gap-[30px]">
    <h6>История развития компании</h6>

    <load src="src/components/About/History/Mobile.html" />

    <div class="xl:grid hidden grid-cols-2 relative self-center gap-x-[140px]">
      <div class="space-y-[120px]">
        <load
          src="src/components/About/History/Card.html"
          year="2015"
          text1="Услуги компании: настройка рекламы<br/>
          в поисковых системах Google / Яндекс"
          text2="Выполнено 26 заказов"
          class=""
        />

        <load
          src="src/components/About/History/Card.html"
          year="2017"
          text1="Услуги компании: настройка рекламы<br/>
          в поисковых системах Google / Яндекс,<br/>
          в социальных сетях"
          text2="Выполнено 73 заказа"
          class=""
        />

        <load
          src="src/components/About/History/Card.html"
          year="2019"
          text1="Направления услуг компании:<br/>
          настройка рекламы в Google / Яндекс,<br/>
          в социальных сетях, разработка сайтов"
          text2="Выполнено 132 заказа"
          class=""
        />

        <load
          src="src/components/About/History/Card.html"
          year="2021"
          text1="Направления услуг компании:<br/>
          настройка рекламы в Google / Яндекс,<br/>
          в социальных сетях, разработка сайтов
          любой сложности"
          text2="Выполнено 273 заказа"
          class=""
        />

        <load
          src="src/components/About/History/Card.html"
          year="2023"
          text1="Направления услуг компании:<br/>
          настройка рекламы в Google / Яндекс,<br/>
          в социальных сетях, разработка сайтов
          любой сложности"
          text2="Выполнено 450 заказа"
          class=""
        />
      </div>

      <div class="space-y-[120px] mt-[125px]">
        <load
          src="src/components/About/History/Card.html"
          year="2016"
          text1="Услуги компании: настройка рекламы<br/> в поисковых системах Google / Яндекс,<br/>
          в социальных сетях"
          text2="Выполнено 57 заказов"
          class="flex-row-reverse"
        />

        <load
          src="src/components/About/History/Card.html"
          year="2018"
          text1="Услуги компании: настройка рекламы<br/>
          в поисковых системах Google / Яндекс,<br/>
          в социальных сетях, разработка сайтов"
          text2="Выполнено 98 заказа"
          class="flex-row-reverse"
        />

        <load
          src="src/components/About/History/Card.html"
          year="2020"
          text1="Направления услуг компании:<br/>
          настройка рекламы в Google / Яндекс,<br/>
          в социальных сетях, разработка сайтов"
          text2="Выполнено 169 заказа"
          class="flex-row-reverse"
        />

        <load
          src="src/components/About/History/Card.html"
          year="2022"
          text1="Направления услуг компании:<br/>
          настройка рекламы в Google / Яндекс,<br/>
          в социальных сетях, разработка сайтов<br/>
          любой сложности"
          text2="Выполнено 355 заказа"
          class="flex-row-reverse"
        />
      </div>

      <svg
        class="absolute left-1/2 -translate-x-1/2 top-[43px]"
        width="80"
        height="1104"
        viewBox="0 0 80 1104"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="40" y="128" width="40" height="1" fill="#ABAAD8" />
        <rect y="225" width="40" height="1" fill="#ABAAD8" />
        <rect x="40" y="376" width="40" height="1" fill="#ABAAD8" />
        <rect x="40" y="624" width="40" height="1" fill="#ABAAD8" />
        <rect y="721" width="40" height="1" fill="#ABAAD8" />
        <rect x="40" y="893" width="40" height="1" fill="#ABAAD8" />
        <rect y="996" width="40" height="1" fill="#ABAAD8" />
        <rect y="473" width="40" height="1" fill="#ABAAD8" />
        <path
          d="M39.6465 1103.35C39.8418 1103.55 40.1583 1103.55 40.3536 1103.35L43.5356 1100.17C43.7308 1099.98 43.7308 1099.66 43.5356 1099.46C43.3403 1099.27 43.0237 1099.27 42.8285 1099.46L40 1102.29L37.1716 1099.46C36.9764 1099.27 36.6598 1099.27 36.4645 1099.46C36.2693 1099.66 36.2693 1099.98 36.4645 1100.17L39.6465 1103.35ZM39.5 3L39.5 1103L40.5 1103L40.5 3L39.5 3Z"
          fill="#ABAAD8"
        />
        <circle cx="40" cy="3" r="3" fill="#ABAAD8" />
      </svg>
    </div>
  </div>
</div>
