<div class="xl:hidden hidden flex-col gap-[30px] relative">
  <load
    src="src/components/About/History/Card.html"
    year="2015"
    text1="Услуги компании: настройка рекламы<br/>
    в поисковых системах Google / Яндекс"
    text2="Выполнено 26 заказов"
    class=""
  />

  <load
    src="src/components/About/History/Card.html"
    year="2015"
    text1="Услуги компании: настройка рекламы<br/>
  в поисковых системах Google / Яндекс"
    text2="Выполнено 26 заказов"
    class=""
  />

  <load
    src="src/components/About/History/Card.html"
    year="2015"
    text1="Услуги компании: настройка рекламы<br/>
в поисковых системах Google / Яндекс"
    text2="Выполнено 26 заказов"
    class=""
  />

  <svg
    class="absolute -left-[3px] top-[15px]"
    width="19"
    height="1755"
    viewBox="0 0 19 1755"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3.64652 1754.35C3.84179 1754.55 4.15837 1754.55 4.35363 1754.35L7.53561 1751.17C7.73087 1750.98 7.73087 1750.66 7.53561 1750.46C7.34035 1750.27 7.02377 1750.27 6.8285 1750.46L4.00008 1753.29L1.17165 1750.46C0.976387 1750.27 0.659805 1750.27 0.464543 1750.46C0.26928 1750.66 0.26928 1750.98 0.464543 1751.17L3.64652 1754.35ZM3.5 3L3.50008 1754L4.50008 1754L4.5 3L3.5 3Z"
      fill="#ABAAD8"
    />
    <circle cx="4" cy="3" r="3" fill="#ABAAD8" />
    <rect x="4" y="159" width="15" height="1" fill="#ABAAD8" />
    <rect x="4" y="411" width="15" height="1" fill="#ABAAD8" />
    <rect x="4" y="644" width="15" height="1" fill="#ABAAD8" />
    <rect x="4" y="834" width="15" height="1" fill="#ABAAD8" />
    <rect x="4" y="1024" width="15" height="1" fill="#ABAAD8" />
    <rect x="4" y="1161" width="15" height="1" fill="#ABAAD8" />
    <rect x="4" y="1404" width="15" height="1" fill="#ABAAD8" />
    <rect x="4" y="1594" width="15" height="1" fill="#ABAAD8" />
  </svg>
</div>
