<section
  id="mobileMenu"
  class="h-screen xl:hidden block bg-[#F9F9FE] absolute top-11 pt-[30px] container-main pb-5 space-y-[30px]"
>
  <div class="space-y-[50px]">
    <nav class="w-[139px]">
      <ul class="flex flex-col items-end gap-5">
        <li class="item-mobile-menu">
          <a href="">Кейсы</a>
        </li>

        <li class="item-mobile-menu">
          <a href="">услуги</a>
        </li>

        <li class="item-mobile-menu">
          <a href="">О нас</a>
        </li>

        <li class="item-mobile-menu">
          <a href="">БЛОГ</a>
        </li>

        <li class="item-mobile-menu">
          <a href="">отзывы</a>
        </li>

        <li class="item-mobile-menu">
          <a href="">контакты</a>
        </li>
      </ul>
    </nav>

    <div class="space-y-5">
        <button>Обсудить проект</button>
        <button>Получить КП</button>
    </div>
  </div>

  <div>
    <div></div>

    <div>&nbsp;</div>

    <div class="space-y-3">
        <a href=""></a>

        <a href=""></a>
    </div>
  </div>
</section>
