<section
  id="menu"
  class="absolute w-full xl:h-[calc(100vh-113.93px)] h-[calc(100vh-44px)] opacity-0 bg-[#F9F9FE] z-[2] xl:pt-10 xl:pb-10 pt-[30px] pb-[20px] transition-all duration-1000 -translate-y-full top-0 xl:block hidden"
>
  <div class="container-main mx-auto h-full flex justify-between">
    <div class="flex gap-[85px] w-full">
      <div class="xl:contents hidden">
        <load src="src/components/Home/Main/Social.html" />
      </div>

      <div class="flex justify-center items-center flex-1 w-full">
        <div class="flex justify-between w-full">
          <p class="font-normal text-[30px] leading-[35.16px] xl:block hidden">Меню</p>

          <nav class="xl:mr-80">
            <ul class="gap-[30px] flex flex-col items-end menu">
              <li class="menu-item">
                <a href="">Кейсы</a>

                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="">Все кейсы</a>
                  </li>

                  <li class="menu-item">
                    <a href="">Landing page</a>
                  </li>

                  <li class="menu-item">
                    <a href="">Многостраничный сайт</a>
                  </li>

                  <li class="menu-item">
                    <a href="">Интернет-магазин</a>
                  </li>

                  <li class="menu-item">
                    <a href="">Продвижение</a>
                  </li>
                </ul>
              </li>

              <li class="menu-item">
                <a href="">услуги</a>

                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="">Разработка сайтов</a>

                    <ul class="sub-menu">
                      <li class="menu-item">
                        <a href="">Сайт-визитка</a>
                      </li>

                      <li class="menu-item">
                        <a href="">Landing page</a>
                      </li>

                      <li class="menu-item">
                        <a href="">Многостраничный сайт</a>
                      </li>

                      <li class="menu-item">
                        <a href="">Интернет-магазин</a>
                      </li>
                    </ul>
                  </li>

                  <li class="menu-item">
                    <a href="">Доработка и ведение сайтов</a>
                  </li>

                  <li class="menu-item">
                    <a href="">Реклама</a>
                  </li>

                  <li class="menu-item">
                    <a href="">Маркетинг</a>
                  </li>

                  <li class="menu-item">
                    <a href="">Отраслевые решения</a>
                  </li>
                </ul>
              </li>

              <li class="menu-item">
                <a href="">О нас</a>
              </li>

              <li class="menu-item">
                <a href="">Блог</a>
              </li>

              <li class="menu-item">
                <a href="">отзывы</a>
              </li>

              <li class="menu-item">
                <a href="">контакты</a>
              </li>
            </ul>
          </nav>

          <a
            href="mailto:info@artcly.by"
            class="text-[#1F1F1F] xl:block hidden self-end text-[30px] font-normal leading-[35.16px] uppercase"
            >info@artcly.by</a
          >
        </div>
      </div>
    </div>
  </div>

  <svg
    class="custom:block hidden absolute bottom-0 left-0"
    width="295"
    height="262"
    viewBox="0 0 295 262"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0 202.74L65.9421 260.279"
      stroke="#5957BB"
      stroke-width="2"
      stroke-miterlimit="10"
    />
    <path
      d="M0 173.853L65.9421 231.391"
      stroke="#5957BB"
      stroke-width="2"
      stroke-miterlimit="10"
    />
    <path
      d="M0 144.965L65.9421 202.74"
      stroke="#5957BB"
      stroke-width="2"
      stroke-miterlimit="10"
    />
    <path
      d="M0 116.077L65.9421 173.853"
      stroke="#5957BB"
      stroke-width="2"
      stroke-miterlimit="10"
    />
    <path
      d="M0 87.4263L65.9421 144.965"
      stroke="#5957BB"
      stroke-width="2"
      stroke-miterlimit="10"
    />
    <path
      d="M0 58.5386L65.9421 116.077"
      stroke="#5957BB"
      stroke-width="2"
      stroke-miterlimit="10"
    />
    <path
      d="M0 29.6509L65.9421 87.4262"
      stroke="#5957BB"
      stroke-width="2"
      stroke-miterlimit="10"
    />
    <path
      d="M0 1L65.9421 58.5386"
      stroke="#5957BB"
      stroke-width="2"
      stroke-miterlimit="10"
    />
    <path
      d="M107.116 161.703L107.456 162.066L107.821 161.727L138.024 133.708L145.294 141.588L106.912 177.163L86.7067 155.601L94.5294 148.27L107.116 161.703Z"
      stroke="#5957BB"
    />
    <path
      d="M181.116 161.703L181.456 162.066L181.821 161.727L212.024 133.708L219.294 141.588L180.912 177.163L160.707 155.601L168.529 148.27L181.116 161.703Z"
      stroke="#5957BB"
    />
    <path
      d="M255.116 161.703L255.456 162.066L255.821 161.727L286.024 133.708L293.294 141.588L254.912 177.163L234.707 155.601L242.529 148.27L255.116 161.703Z"
      stroke="#5957BB"
    />
  </svg>
</section>
