<div class="flex xl:flex-row flex-col xl:gap-[41px] gap-5">
  <h6 class="uppercase xl:flex-shrink-0">В заключение</h6>

  <p>
    Продающий веб-сайт – это важный инструмент для реализации услуг и товаров в
    интернете. Любой современный бизнес, который хочет расти и развиваться,
    стремится завести индивидуальный веб-сайт со своей продукцией, ее подробным
    описанием и возможностью онлайн покупки товаров. Доверить создание
    продающего веб-сайта можно только профессионалам, знающим эффективные методы
    раскрутки, а также способы завоевания доверия и получения лояльности
    клиентов к вашему продукту. Наша компания уже более 6 лет специализируется
    на создании, запуске и продвижении продающих веб-ресурсов различных типов.
    Поэтому вы можете смело заказать разработку сайта для бизнеса в Artcly, если
    ваша цель – повысить количество продаж и увеличить прибыль. Заказать
    разработку сайта можно на нашем сайте. Вы также можете позвонить нам по
    указанным на сайте телефонам или написать в мессенджерах. Менеджеры ответят
    на все ваши вопросы и помогут выбрать оптимальный тип сайта. А посмотреть
    примеры наших работ можно в нашем портфолио.
  </p>
</div>
