<div class="xl:space-y-[60px] space-y-[30px] text-blog-single">
  <h6 class="uppercase">Виды продающих сайтов для бизнеса</h6>

  <div class="xl:ml-[270px] xl:space-y-[52px] space-y-[30px]">
    <div class="flex xl:gap-0 gap-5 xl:flex-row flex-col xl:justify-between xl:w-[1060px]">
      <h6 class="font-light">Landing Page</h6>

      <p class="xl:w-[790px]">
        Это одностраничный веб-ресурс, созданный специально для привлечения
        пользователей на основной сайт компании. Помимо этого, разработка
        landing page может быть отличной площадкой для продвижения какого-то
        нового товара или услуги в сети. На этой странице размещается наиболее
        привлекательная и важная информация о товаре, которая мотивирует
        посетителя совершить покупку.
      </p>
    </div>

    <div class="flex xl:gap-0 gap-5 xl:flex-row flex-col xl:justify-between xl:w-[1060px]">
      <h6 class="font-light">Сайт - визитка</h6>

      <div class="xl:w-[790px]">
        <p>
          В услуги создания продающих сайтов для бизнеса входит разработка
          сайта-визитки, который станет виртуальной презентацией компании в
          сети. Обычно визитку делают всего из нескольких страниц, в которых
          содержится:
        </p>

        <ul>
          <li>основная информация о бизнесе, фирме;</li>
          <li>информация о товарах и услугах;</li>
          <li>цены;</li>
          <li>формы обратной связи;</li>
          <li>контакты.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
