<div class="flex xl:flex-row flex-col xl:gap-0 gap-2.5 xl:justify-between">
  <div class="xl:w-[404px] xl:border-r border-[#ABAAD8] flex-shrink-0">
    <p class="xl:w-[200px] xl:text-[26px] text-lg text-[#333333] font-normal xl:leading-[30.47px] leading-[21.09px]">{=$name}</p>
  </div>

  <div class="w-1/2 bg-[#ABAAD8] h-[1px] xl:hidden block">&nbsp;</div>

  <div class="xl:pl-[60px] xl:space-y-5 space-y-2.5">
    <p class="font-normal text-[#333333]">{=$title}</p>

    <p>{=$desc}</p>
  </div>
</div>
