<section class="container-main mx-auto flex xl:flex-row flex-col xl:gap-0 gap-[30px]">
  <div class="xl:space-y-[60px] space-y-[30px] xl:w-[625px] w-full flex-shrink-0 xl:pr-0">
    <h6>Клиенты</h6>

    <h2>Внедряем в жизнь наших клиентов новые технологии</h2>
  </div>

  <div class="grid xl:grid-cols-3 grid-cols-2 xl:gap-x-[43px] gap-x-2 xl:gap-y-[50px] gap-y-2.5 w-full">
    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 xl:w-[300px] w-full xl:h-[200px] h-[90px] hover:scale-105"
    >
      <img class="xl:w-[148px] w-[86px] xl:h-[148px] h-[86px]" src="client1.webp" alt="Клиент 1" />
    </div>

    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 xl:w-[300px] w-full xl:h-[200px] h-[90px] hover:scale-105"
    >
      <img class="xl:w-[181.73px] w-[98.95px] xl:h-[146px] h-20" src="client2.webp" alt="Клиент 1" />
    </div>

    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 xl:w-[300px] w-full xl:h-[200px] h-[90px] hover:scale-105"
    >
      <img class="xl:w-[197px] w-[54px] xl:h-[118px] h-[54px]" src="client3.webp" alt="Клиент 1" />
    </div>

    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 xl:w-[300px] w-full xl:h-[200px] h-[90px] hover:scale-105"
    >
      <img class="xl:w-[200.94px] w-[92px] xl:h-[148px] h-[67px]" src="client4.webp" alt="Клиент 1" />
    </div>

    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 xl:w-[300px] w-full xl:h-[200px] h-[90px] hover:scale-105"
    >
      <img class="xl:w-[220px] w-[99px] xl:h-[113px] h-[52px]" src="client5.webp" alt="Клиент 1" />
    </div>

    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 xl:w-[300px] w-full xl:h-[200px] h-[90px] hover:scale-105"
    >
      <img class="xl:w-[148px] w-[67px] xl:h-[148px] h-[66px]" src="client6.webp" alt="Клиент 1" />
    </div>
  </div>
</section>
