<section class="container-main mx-auto flex">
  <div class="space-y-[60px] w-[625px] flex-shrink-0">
    <h6>Клиенты</h6>

    <h2>Внедряем в жизнь наших клиентов новые технологии</h2>
  </div>

  <div class="grid grid-cols-3 gap-x-[43px] gap-y-[50px] w-full">
    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 w-[300px] h-[200px] hover:scale-105"
    >
      <img width="148" width="148" src="client1.webp" alt="Клиент 1" />
    </div>
    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 w-[300px] h-[200px] hover:scale-105"
    >
      <img width="181.73" height="146" src="client2.webp" alt="Клиент 1" />
    </div>
    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 w-[300px] h-[200px] hover:scale-105"
    >
      <img width="197" height="118" src="client3.webp" alt="Клиент 1" />
    </div>
    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 w-[300px] h-[200px] hover:scale-105"
    >
      <img width="200.94" height="148" src="client4.webp" alt="Клиент 1" />
    </div>
    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 w-[300px] h-[200px] hover:scale-105"
    >
      <img width="220" height="113" src="client5.webp" alt="Клиент 1" />
    </div>
    <div
      class="flex justify-center items-center brightness-0 transition-all duration-300 hover:brightness-100 w-[300px] h-[200px] hover:scale-105"
    >
      <img width="148" height="148" src="client6.webp" alt="Клиент 1" />
    </div>
  </div>
</section>
