@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#slider-work .swiper-slide-next img, #slider-work .swiper-slide-next .container-back-drop {
  @apply xl:!w-[443px] xl:!h-[291px] xl:border border-[#F7F7F7];
}

#slider-work .swiper-slide-next {
  @apply xl:opacity-80;
}

.questCard .questText.open {
  @apply grid-rows-1 xl:mt-[38px] mt-4;
}

.questCard .arrowIconColor.active {
  @apply fill-[#B2B2B2];
}

.questCard .arrowIcon.active {
  @apply -scale-y-100;
}

@layer base {
  html {
    @apply bg-[#F9F9FE] text-[#545454] xl:text-[22px] text-base font-light xl:leading-[25.78px] leading-[18.75px] font-Roboto overflow-x-hidden scroll-smooth;
  }

  body {
    @apply flex flex-col min-h-screen relative;
  }

  .container-main {
    @apply max-w-[1600px] w-full px-2.5;
  }

  .container-contact {
    @apply max-w-[1219px] w-full px-2.5;
  }

  button {
    @apply border border-[#605EB3] xl:h-[60px] h-12 flex justify-center items-center font-light text-[#605EB3] text-center xl:text-[26px] text-lg xl:leading-[30.47px] leading-[21.09px] xl:min-w-[300px] min-w-full transition-all duration-300;
  }

  a {
    @apply transition-all duration-300;
  }

  h2,
  h3,
  h4 {
    @apply font-normal xl:text-[60px] text-[26px] xl:leading-[70.31px] leading-[30.47px] text-[#333333] uppercase;
  }

  h6 {
    @apply xl:text-[30px] text-xl font-normal xl:leading-[35.16px] leading-[23.44px] text-[#545454];
  }

  input {
    @apply xl:border-b border-b-[0.5px] xl:text-base text-sm border-[#B2B2B2] outline-none ring-0 bg-transparent w-full;
  }
}

@layer components {
  .direction-list span {
    @apply xl:text-[30px] text-[26px] font-normal xl:leading-[35.16px] leading-[30.47px] text-[#545454] xl:mt-5;
  }

  .list-edge span {
    @apply xl:text-[30px] text-[26px] font-normal xl:leading-[35.16px] leading-[30.47px] text-[#545454];
  }

  #slider-work .swiper-slide {
    @apply !flex justify-end items-end h-[519px];
  }

  #slider-work .swiper-slide img {
    @apply h-[519px] w-full transition-all duration-500;
  }

  .buttonMenuHandle.open {
    @apply opacity-100;
  }

  #menu.open,
  #mobileMenu.open {
    @apply opacity-100 translate-y-0 xl:top-[113.93px] top-11;
  }

  #menu ul .menu-item {
    @apply relative;
  }

  #menu .menu a {
    @apply text-[#333333] text-[60px] font-normal leading-[70.31px] text-right uppercase hover:text-[#4042E2] transition-all duration-300;
  }

  #menu .sub-menu a {
    @apply leading-[35.16px] text-nowrap hover:text-[#4042E2] text-[30px] font-normal transition-all duration-300;
    text-transform: none;
  }

  #menu a.active {
    @apply text-[#4042E2];
  }

  #menu .sub-menu {
    @apply xl:absolute left-full xl:pl-[60px] top-0 overflow-hidden z-[-1] opacity-0 flex flex-col gap-[26px] transition-all duration-300;
  }

  #menu .sub-menu.active {
    @apply overflow-visible z-[0] opacity-100;
  }

  #mobileMenu .item-mobile-menu a {
    @apply text-[#333333] text-[26px] font-normal leading-[30.47px] uppercase;
  }

  .btn-with-arrow {
    @apply py-[15px] w-fit text-[#605EB3] flex xl:gap-[30px] gap-2.5 items-center justify-start text-nowrap border-none;
  }

  .btn-with-arrow svg {
    @apply xl:max-w-[61px] max-w-10 flex-shrink-0;
  }

  .containerSelectService:has([type="radio"]:checked) .containerIcon {
    @apply outline-[#5957BB];
  }

  .containerSelectService:has([type="radio"]:checked) .iconChecked {
    @apply opacity-100;
  }

  .navServiceButton.current {
    @apply border-[#605EB3] text-[#605EB3];
  }

  #listServicePage.open {
    @apply grid-rows-1 mt-2.5;
  }

  #openServiceFilter.active {
    @apply text-[#A59D9D];
  }

  #openServiceFilter.active .iconArrow {
    @apply transform -scale-y-100;
  }

  #openServiceFilter.active .iconArrow path {
    @apply fill-[#B2B2B2];
  }

  .serviceSingleAnimation {
    animation-name: scrollDown;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }

  .serviceSingleAnimation:hover {
    animation-play-state: running;
  }

  @keyframes scrollDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-100% + 861px));
    }
  }

  .aboutTeamCard.active {
    @apply xl:w-[790px] xl:flex-shrink-0;
  }

  .valueContactInfo {
    @apply text-[#1F1F1F] xl:leading-[70.31px] leading-[28.13px] xl:text-[60px] text-[24px] font-normal;
  }

  #reviewModal.active {
    @apply overflow-visible translate-x-0 opacity-100;
  }

  .containerInfoReviews.open {
    @apply mt-5 grid-rows-1;
  }

  .mobileCardButtonReviewOpenInfo .iconArrow.active,
  #openListWorkName.active {
    @apply transform -scale-y-100;
  }

  .mobileCardButtonReviewOpenInfo .iconArrow.active path,
  #openListWorkName.active path {
    @apply fill-[#B2B2B2];
  }

  .containerWorkName input[type="checkbox"]:checked ~ .titleWorkName {
    @apply text-[#4042E2];
  }

  .containerWorkName input[type="checkbox"]:checked ~ .iconCheckedContainer {
    @apply border-[#4042E2];
  }

  .containerWorkName
    input[type="checkbox"]:checked
    ~ .iconCheckedContainer
    svg {
    @apply opacity-100;
  }

  #listWorkName.open {
    @apply z-[1] overflow-visible opacity-100;
  }

  .text-blog-single ul {
    @apply list-disc list-inside xl:mt-[30px] mt-4;
  }

  .text-blog-single ul li {
    @apply xl:py-1 py-0.5;
  }

  .marquee {
    animation: marquee 10s linear infinite;
    white-space: nowrap;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
